

body{

    background-image: url(https://www.nationalgeographic.com.es/medio/2017/06/01/torres-del-paine_dbbe6ab1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
}